:root
    {
        --primarycolor: darkslategray;
        --secondarycolor: gray;
        --fillercolor: lightgray;
    }
body
    {
        font-family: "Arial", sans-serif;
        max-width: 850px;
    }
p
    {
        margin: 0px;
        padding: 10px;
    }
h1
    {
        margin: 0px;
        padding: 5px;
    }
.page
    {
        max-width: 850px;
        max-height: 360px;
    }
.background
    {
        width: 850px;
        border: 2px solid var(--secondarycolor);
        z-index: 1;
    }
#top
    {
        background-color: var(--primarycolor);
        width: 850px;
        height: 300px;
        margin: 0px;
        padding: 0; 
        border: 0;
        position: relative;
    }
#bottom
    {
        background-color: var(--secondarycolor);
        width: 850px;
        height: 50px;
        margin: 0px;
        padding: 0;
        border: 0;
        position: absolute;
        z-index: 1;
    }
#profilepic
    {
        border: 2px solid black;
        width: 150px;
        height: 150px;
        z-index: 2;
        background-image: url(https://neuwritesd.files.wordpress.com/2016/04/echo72.jpg?w=186&h=186&crop=1);
        position: relative;
        bottom: 120px;
        left: 15px;
    }
h1
    {
        font-size: 20px;
        font-weight: normal;
    }
#info
    {
        position: relative;
        top: 250px;
        left: 175px;
        z-index: 2;
        line-height: 0.8em;
    }
#like
    {
        width: 40px;
        background-color: var(--fillercolor);
        position: relative;
        top: 200px;
        left: 500px;
        border: 1px solid var(--secondarycolor);
        padding: 0px;
        margin: 0px;
        text-align: center;
        font-size: 15px;
    }
#various p
    {
        background-color: var(--fillercolor);
        width: 70px;
        z-index: 2;
        line-height: 1em;
        border: 1px solid var(--secondarycolor);
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
#various p:nth-child(1)
    {
        float: left;
        padding: 2px 5px 1px 5px;
    }
#various p:nth-child(2)
    {
        float: left;
        padding: 2px 5px 1px 5px;
    }
#various p:nth-child(3)
    {
        float: left;
        padding: 2px 5px 1px 5px;
    }
#various
    {
        position: relative;
        top: 181px;
        left: 570px;
        font-size: 15px;
    }
.link div
    {
        position: relative;
        left: 175px;
        top: 10px;
    }
.link p
    {
        position: relative;
        left: 175px;
        top: 30px;
        margin: 0px 10px 0px 10px;
        padding: 0px;
    }
.link p:nth-child(1)
    {
        float: left;
        border-bottom: 2px solid black;
    }
.link p:nth-child(2)
    {
        float: left;
        border-bottom: 2px solid black;
    }
.link p:nth-child(3)
    {
        float: left;
        border-bottom: 2px solid black;
    }
.link p:nth-child(4)
    {
        float: left;
        border-bottom: 2px solid black;
    }
.link p:nth-child(5)
    {
        float: left;
        border-bottom: 2px solid black;
    }
#leftcolumn
    {
        background-color: var(--fillercolor);
        float: left;
        width: 328px;
        height: -webkit-fill-available;
        margin: 0px;
        padding: 0px;
    }
#border
    {
        float: left;
        width: 4px;
        height: -webkit-fill-available;
        margin-left: 3px;
        background-color: var(--secondarycolor);
    }
#rightcolumn
    {
        background-color: var(--fillercolor);
        float: right;
        width: 512px;
        height: -webkit-fill-available;
        margin: 0px;
        padding: 0px;
    }
#leftcolumn p
    {
        max-width: 328px;
        margin: 0px;
        padding: 0px;
    }
#rightcolumn p
    {
        max-width: 512px;
        margin: 0px;
        padding: 0px;
    }
.profileinfo
    {
        margin: 10px;
        border: 2px solid black;
        padding: 4px;
    }
.profileinfo h1
    {
        background-color: var(--primarycolor);
        text-align: center;
    }
.post
    {
        margin: 10px;
        border: 2px solid black;
        padding: 4px;
    }
.post h1
    {
        background-color: var(--primarycolor);
        font-size: 15px;
    }